In [3]:
import logging
import pandas as pd
from codex import CodexKg 

#Load csv data
df = pd.read_csv("sample_data/tech_companies.csv")

In [4]:
df

        name   budget
0      Apple   123.45
1     Google   999.99
2  Microsoft   500.00
3     Amazon  1000.00

In [5]:

#Make new codex object
codexkg = CodexKg()

#Create new keyspace
codexkg.create_db("tech_example")

2020-12-20 22:28:32,801 : INFO : created new CodexKg
2020-12-20 22:28:32,804 : INFO : creating new keyspace tech_example
2020-12-20 22:28:32,805 : INFO : Connecting to grakn at localhost:48555
2020-12-20 22:28:32,836 : INFO : Loading data from redis

0

In [6]:
#Load data into Grakn
codexkg.create_entity(df, "Company", entity_key="name")

2020-12-20 22:28:59,413 : INFO : Creating entity Company
2020-12-20 22:28:59,466 : INFO : Executing Graql Query: define Company sub entity,key name, has budget;
2020-12-20 22:28:59,502 : INFO : Executing Graql Query: insert $c isa Company, has name "Apple", has budget 123.45;
2020-12-20 22:28:59,618 : INFO : Query failed: insert $c isa Company, has name "Apple", has budget 123.45;
2020-12-20 22:28:59,619 : INFO : Server/network error: <_Rendezvous of RPC that terminated with:
	status = StatusCode.UNKNOWN
	details = "grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found.
There is more than one thing of type [Company] that owns the key [Apple] of type [name].
. Please check server logs for the stack trace."
	debug_error_string = "{"created":"@1608524939.618173800","description":"Error received from peer ipv6:[::1]:48555","file":"src/core/lib/surface/call.cc","file_line":1055,"grpc_message":"grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found. \nThere is more than one thing of type [Company] that owns the key [Apple] of type [name]. \n. Please check server logs for the stack trace.","grpc_status":2}"
>

 generated from request: iter_req {
  options {
  }
  query_iter_req {
    query: "insert $c isa Company, has name \"Apple\", has budget 123.45;"
    options {
    }
  }
}

2020-12-20 22:28:59,623 : INFO : Executing Graql Query: insert $c isa Company, has name "Google", has budget 999.99;
2020-12-20 22:28:59,686 : INFO : Query failed: insert $c isa Company, has name "Google", has budget 999.99;
2020-12-20 22:28:59,687 : INFO : Server/network error: <_Rendezvous of RPC that terminated with:
	status = StatusCode.UNKNOWN
	details = "grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found.
There is more than one thing of type [Company] that owns the key [Google] of type [name].
. Please check server logs for the stack trace."
	debug_error_string = "{"created":"@1608524939.685896830","description":"Error received from peer ipv6:[::1]:48555","file":"src/core/lib/surface/call.cc","file_line":1055,"grpc_message":"grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found. \nThere is more than one thing of type [Company] that owns the key [Google] of type [name]. \n. Please check server logs for the stack trace.","grpc_status":2}"
>

 generated from request: commit_req {
}

2020-12-20 22:28:59,696 : INFO : Executing Graql Query: insert $c isa Company, has name "Microsoft", has budget 500.0;
2020-12-20 22:28:59,755 : INFO : Query failed: insert $c isa Company, has name "Microsoft", has budget 500.0;
2020-12-20 22:28:59,756 : INFO : Server/network error: <_Rendezvous of RPC that terminated with:
	status = StatusCode.UNKNOWN
	details = "grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found.
There is more than one thing of type [Company] that owns the key [Microsoft] of type [name].
. Please check server logs for the stack trace."
	debug_error_string = "{"created":"@1608524939.755010781","description":"Error received from peer ipv6:[::1]:48555","file":"src/core/lib/surface/call.cc","file_line":1055,"grpc_message":"grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found. \nThere is more than one thing of type [Company] that owns the key [Microsoft] of type [name]. \n. Please check server logs for the stack trace.","grpc_status":2}"
>

 generated from request: commit_req {
}

2020-12-20 22:28:59,760 : INFO : Executing Graql Query: insert $c isa Company, has name "Amazon", has budget 1000.0;
2020-12-20 22:28:59,826 : INFO : Query failed: insert $c isa Company, has name "Amazon", has budget 1000.0;
2020-12-20 22:28:59,827 : INFO : Server/network error: <_Rendezvous of RPC that terminated with:
	status = StatusCode.UNKNOWN
	details = "grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found.
There is more than one thing of type [Company] that owns the key [Amazon] of type [name].
. Please check server logs for the stack trace."
	debug_error_string = "{"created":"@1608524939.826173531","description":"Error received from peer ipv6:[::1]:48555","file":"src/core/lib/surface/call.cc","file_line":1055,"grpc_message":"grakn.core.kb.server.exception.InvalidKBException: A structural validation error has occurred. Please correct the [`1`] errors found. \nThere is more than one thing of type [Company] that owns the key [Amazon] of type [name]. \n. Please check server logs for the stack trace.","grpc_status":2}"
>

 generated from request: commit_req {
}

(0, 'good')

In [7]:

# Find Company that has a name equal to Google
ans = codexkg.find(
        concept="Company",
        concept_attrs=["name"],
        concept_conds=["equals"],
        concept_values=["Google"],
)

#Display data as a DataFrame
logging.info(ans)

# {'Company':      name  budget
#				0  Google  999.99}

2020-12-20 23:07:37,080 : INFO : Finding Company data
2020-12-20 23:07:37,082 : INFO : Find Companies that have a name that equals Google
2020-12-20 23:07:37,083 : INFO : Find Companies that have a name that equals Google.
2020-12-20 23:07:37,135 : INFO : Here is the graql
2020-12-20 23:07:37,137 : INFO : match $Company isa Company, has name "Google";get;
2020-12-20 23:07:37,240 : INFO : {'Company':    budget    name
0  999.99  Google, 'graql_queries': ['match $Company isa Company, has name "Google";get;']}

In [16]:
ans = codexkg.find(
        concept="Company",
        concept_attrs=["name"],
        concept_conds=["equals"],
        concept_values=["Apple"],
)

#Display data as a DataFrame
logging.info(ans)

# {'Company':      name  budget
#				0  Google  999.99}

SyntaxError: keyword argument repeated (<ipython-input-16-0b78e283e42a>, line 6)

In [15]:
ans['Company']

   budget   name
0  123.45  Apple